html {
	font-family: sans-serif;
	font-size: 18vw;
}

.column,
.row {
	display: flex;
	flex-direction: column;
}

.row {
	flex-direction: row;
}

.column > *,
.row > * {
	flex: 1;
}

.cell {
	position: relative;
	line-height: 2rem;
	text-align: center;
}

.cell::after {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	font-size: 50%;
	line-height: 100%;
	content: attr(sub);
}

#date-calendar-quarter {
	background: orange;
}

#date-mumps-mump {
	background: pink;
}

#date-mumps-week[tag="0"] {
	background: purple;
}

#date-mumps-week[tag="1"] {
	background: blue;
}

#date-mumps-week[tag="2"] {
	background: green;
}

#date-mumps-week[tag="3"] {
	background: orange;
}

#date-mumps-dow[tag="0"],
#date-mumps-dow[tag="6"] {
	background: grey;
}
